<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>
    Current direction:
    <b>{{ currentDirection }}</b>
  </p>

  <ion-button (click)="toggleDirection()">
    <ion-icon slot="start" name="code-working"></ion-icon>
    Toggle LTR / RTL
  </ion-button>

  <ion-button>
    <ion-icon slot="start" name="star"></ion-icon>
    Left Icon
  </ion-button>

  <ion-button>
    Right Icon
    <ion-icon slot="end" name="star"></ion-icon>
  </ion-button>

  <ion-button>
    <ion-icon slot="icon-only" name="star"></ion-icon>
  </ion-button>

  <div class="wrapper" margin-top margin-bottom padding-top padding-bottom margin-start>
    <div class="content">
      margin-start
    </div>
  </div>

  <div class="wrapper" margin-top margin-bottom padding-top padding-bottom margin-start padding-start>
    <div class="content">
      margin-start + padding-start
    </div>
  </div>

  <div class="wrapper" margin-top margin-bottom padding-top padding-bottom margin-end>
    <div class="content">
      margin-end
    </div>
  </div>

  <div class="wrapper" margin-top margin-bottom padding-top padding-bottom margin-end padding-end>
    <div class="content">
      margin-end + padding-end
    </div>
  </div>
</ion-content>