:host {
  .wrapper {
    background-image: linear-gradient(to bottom, #f0f5ff 0, #f0f5ff 100%),
      linear-gradient(to bottom, #c3e0b7 0, #c3e0b7 100%);
    background-clip: content-box, padding-box;

    .content {
      background-color: #f5f7fa;
      border: 1px solid #e4e8f0;
      padding: 5px;
    }
  }

  ion-col {
    padding: 5px
  }

  ion-grid {
    padding: 0 0 20px 0
  }

  ion-col div {
    background-color: #f5f7fa;
    border: 1px solid #e4e8f0;
    padding: 5px
  }

  hr {
    border-width: 1px;
    height: 0;
  }
}